[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-multipart = "*"
redis = "*"
watchdog = "*"
ffmpeg-python = "*"


[dev-packages]

[requires]
python_version = "3.11"

[scripts]
start = "uvicorn src.blerb_receiver:app --reload --port 8005"

