[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = "*"
watchdog = "*"
llama-cpp-python = "*"

[dev-packages]

[requires]
python_version = "3.13"

[scripts]
start = "watchmedo auto-restart --pattern='*.py' --recursive -- python src/merger.py"
