[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
llama-cpp-python = "*"
sentencepiece = "*"
torch = "*"
transformers = "*"
huggingface-hub = "*"
watchdog = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
start = "watchmedo auto-restart --pattern='*.py' --recursive -- C:/Users/ILuna/.virtualenvs/merger-MibZA0qT/Scripts/python.exe src/merger.py"