[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
whisper = "*"
fastapi = "*"
uvicorn = "*"
python-multipart = "*"
faster-whisper = "*"
redis = "*"
watchdog = "*"
huggingface-hub = "*"
transformers = "*"
sentencepiece = "*"
langdetect = "*"
ffmpeg-python = "*"


[dev-packages]

[requires]
python_version = "3.11"

[scripts]
start = "python src/transcriber_worker.py"
